@font-face {
    font-family: "Intro-Regular";
    src: url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.eot");
    src: url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0100763844a8ce097387d4afc81b1614.svg#Intro-Regular")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/0100763844a8ce097387d4afc81b1614?family=Intro-Regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Intro-Regular";
}

header {
    background: #484283;
    height: 528px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

.header_nav {
    position: relative;
    width: 1180px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    top: 20px;
}

.header_logo {
    position: relative;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;

}

.header_title {
    color: #fff;
    font-size: 40px;
    margin: 0 auto;
}

.header_text {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
}

.header_button {
    margin: 0 auto;
}

.nav_bar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;
    position: relative;
    left: 235px;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.nav_link:hover {
    color: #ff0000;
}

.icon_basket_nav {
    position: relative;
    width: 95px;
    height: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: -2px;
}

.icon_basket {
    position: relative;
    width: 20px;
    height: 18px;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 2px;
}

.cart_count {
    position: relative;
    width: 16px;
    height: 16.84px;
    border-radius: 50%;
    background-color: #F14F4F;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    z-index: 1;
    left: 45px;
    font-size: 14px;
    top: -11px;
}

.nav_bottom_line {
    position: relative;
    width: 1180px;
    height: 1px;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 20px;
}

.snake_div_text {
    position: relative;
    width: 980px;
    height: 200px;
    font-size: 200px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 165px;
    left: 30px;
    color: #ffffff3e;
    z-index: 0;
}

.snake_div_description {
    width: 580px;
    height: 100px;
    margin: 0 auto;
    top: -100px;
    position: relative;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: center;
    left: -300px;
}

.header_text_title {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}

.snake_p_description {
    position: relative;
    width: 480px;
    height: 44px;
    margin: 0 auto;
    text-align: start;
    justify-content: start;
    align-items: center;
    left: -350px;
    top: -75px;
}

.header_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: start;
    justify-content: start;
    align-items: center;
}

.snake_div_button {
    position: relative;
    width: 250px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F14F4F;
    top: -40px;
    margin: 0 auto;
    left: -465px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.snake_div_button:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.header_button {
    width: 250px;
    height: 60px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_button_link {
    position: relative;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
}

/* ------------Main section----------- */
.main_section {
    width: 1180px;
    height: 1257px;
    position: relative;
    top: 60px;
    margin: 0 auto;

}

.main_title_text_div {
    position: relative;
    width: 117px;
    height: 30px;
    justify-content: center;
    text-align: start;
    align-items: center;
    display: block;
    margin: 0 auto;
    left: -530px;
}


.main_section_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.main_section_cards {
    width: 280px;
    height: 597px;
    position: relative;
    margin: 0 auto;
    display: block;
    background-color: #FFF4EE;
    top: 40px;
    padding: 20px 20px;
    display: block;
}

.main_card_group {
    position: relative;
    display: flex;
}

.main_cart_divider {
    width: 880px;
    height: 1057px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    position: relative;
    top: 40px;
}

.main_cart_img {
    border-radius: 4px;
}

.main_cart {
    width: 280px;
    height: 349px;
    display: block;
    position: relative;
    text-align: start;
    justify-content: start;

}

.card_divider {
    width: 280px;
    height: 280px;
    display: block;
    position: relative;

}

.main_cart_text_price {
    position: relative;
    width: 84px;
    height: 20px;
    font-size: 20px;
    color: #444B58;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    top: 20px;
}

.main_cart_text_title {
    width: 258px;
    height: 16px;
    position: relative;
    font-size: 16px;
    color: #444B58;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    top: 10px
}

.main_section_button {
    position: relative;
    width: 250px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F14F4F;
    top: 120px;
    left: 155px;
    margin: 0 auto;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.main_section_button:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.main_section_button_link {
    position: relative;
    color: #fff;
    text-align: center;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    text-decoration: none;
    top: 22px;
    cursor: pointer;
}

.main_section_cards_title_divider {
    position: relative;
    width: 240px;
    height: 48px;
    top: -20px;
}

.main_section_cards_title {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    vertical-align: middle;
    justify-content: start;
    text-align: start;
    align-items: left;
    position: relative;
    top: 20px;
    color: #444B58;
}

.main_section_cards_text_price {
    position: relative;
    width: 84px;
    height: 20px;
    font-size: 16px;
    color: #444B58;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    top: 20px;
    text-align: start;
}

.main_section_cards_size_divider {
    position: relative;
    width: 240px;
    height: 50px;
    border: 1px solid #444B58;
    border-radius: 4px;
    top: 20px;
    display: flex;
}

.range_group {
    position: relative;
    top: -25px;
}

.price_divider_section {
    position: relative;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: center;
    align-items: center;


}

.main_section_cards_text_price_size {
    position: relative;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 30px;
}

.price_center_line_divider {
    position: relative;
    width: 1px;
    height: 30px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 30px;


}

.range_left_line_divider {
    position: relative;
    width: 6px;
    height: 30px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 234px;
    top: 30px;
    z-index: 1;
    border-radius: 5px;
}

.range_center_line_divider {
    position: relative;
    width: 240px;
    height: 4px;
    top: 15px;
    z-index: 1;
    background-color: #444B58;
}

.range_right_line_divider {
    position: relative;
    width: 6px;
    height: 30px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: -5px;
    z-index: 1;
    border-radius: 5px;
}

.gender_divider {
    position: relative;
    width: 240px;
    height: 50px;
    border-radius: 4px;
    top: -5px;
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: center;
    gap: 10px;

}

.gender_button {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #DBBBA9;
    border-radius: 4px;
    justify-content: start;
    text-align: start;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    top: -20px;
}

.main_section_cards_text_gender {
    position: relative;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: center;
    top: -20px;
}

.shoes_size_divider {
    position: relative;
    width: 240px;
    height: 197px;
    border-radius: 4px;
    top: -20px;
}

.main_section_cards_text_shoes_size {
    position: relative;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: center;
    top: 20px;
}


.shoes_size_card_divider {
    width: 240px;
    height: 171px;
    border-radius: 1px;
    top: 30px;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;



}

.shoes_size_card_group {
    display: flex;
}

.shoes_size_card {
    position: relative;
    width: 80px;
    height: 57px;
    border: 1px solid #DBBBA9;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 18px 0;
}

.shoes_size_card_text {
    position: relative;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.main_section_cards_size_button {
    position: relative;
    width: 239px;
    height: 60px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 20px;
    cursor: pointer;
}

.reset_divider {
    position: relative;
    top: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.reset_text {
    position: relative;
    font-size: 16px;
    color: #444B58;
    cursor: pointer;
}

.reset_text:hover {
    color: #0059fe;
    cursor: pointer;
}

.main_section_cards_size_button_button {
    position: relative;
    width: 239px;
    height: 60px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;
}

.main_section_cards_size_button_button:hover {
    background-color: #0059fe;
}

.about_us_section {
    position: relative;
    height: 580px;
    top: 150px;
}

.about_us_section_divider_bg {
    position: relative;
    height: 580px;
    background-color: #484283;
    z-index: 1;
}

.img_about {
    position: relative;
    width: 680px;
    height: 580px;
    z-index: 0;
}

.circle_divider_group {
    width: 50px;
    height: 24px;
    position: relative;
    top: -300px;
    z-index: 999;
    left: -40px;
    margin: 0 auto;
}

.circle_divider {
    position: relative;
    width: 644px;
    height: 644px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff50;
    top: 240px;
    left: -1120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
}

.circle_divider_2 {
    position: relative;
    width: 297px;
    height: 297px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff50;
    top: -300px;
    left: -520px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
    margin: 0 auto;

}

.circle_divider_3 {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F14F4F;
    top: -380px;
    left: -270px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 3;
    margin: 0 auto;
}

.about_us_section_title_divider {
    width: 233px;
    height: 30px;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 222px;
    left: -300px;
}

.about_us_section_title {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: center;
}

.about_us_section_text_divider {
    width: 380px;
    height: 110px;
    position: relative;
    justify-content: start;
    text-align: start;
    align-items: center;
    margin: 0 auto;
    top: 230px;
    left: -227px;
}

.about_us_section_text {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: center;
}

.about_us_section_text_divider_bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    gap: 20px;
    z-index: 1;
    top: 20px;
    left: -80px;
}

.about_us_section_text_divider_bottom_text {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: -45px;
    top: 240px;
    z-index: 1;

}

.about_us_section_text_bottom {
    position: relative;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 40px;
    top: 220px;
    z-index: 1;
}

.about_us_section_text_divider_img {
    position: relative;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: -168px;
}




.catalog_section {
    display: block;
    position: relative;
    width: 1180px;
    height: 658px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 320px;
}

.catalog_section_title_divider {
    width: 1180px;
    height: 700px;
    border-radius: 4px;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: -100px;
    background-color: #FFF4EE;
    padding: 0 100px;
    z-index: 5;

}

.catalog_section_title {
    position: relative;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #000;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: -120px;
}

.catalog_section_text {
    position: relative;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #808080;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 20px;
}

.catalog_line_models {
    position: relative;
    width: 980px;
    height: 1px;
    background-color: #808080;
    top: -95px;
}

.catalog_line_models_2 {
    position: relative;
    width: 980px;
    height: 1px;
    background-color: #808080;
    top: 400px;
}

.catalog_text_models_text {
    position: relative;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: -90px;
}

.model_catalog_card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    width: 280px;
    height: 154px;
    border-radius: 4px;
    top: 170px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.model_catalog_textcheck {
    position: relative;
    width: 24px;
    height: 24px;
    left: -128px;
    justify-content: start;
    text-align: start;
    align-items: center;
    top: 10px;
}

.model_catalog_text {
    position: relative;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #000;
    text-align: start;
    justify-content: start;
    align-items: center;
    top: -18px;
    left: 35px;
}

.catalog_text_models_text_bottom {
    position: relative;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 390px;
}

.catalog_text_models_text_btn {
    position: relative;
    width: 251px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    justify-content: end;
    align-items: center;
    right: -365px;
    top: 360px;

}

.catalog_text_models_text_btn:hover {
    background-color: #F14F4F;
}



/* ----------------section-5--------------- */

.galary_section_divider {
    width: 1180px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    top: 100px;



}


.galary_section {
    width: 100%;
    display: block;
    position: relative;
    height: 1190px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: #484283;
    top: 320px;

}


.galary_section_card {
    width: 380px;
    height: 480px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    margin: 0 auto;
}

.galary_section_img {
    width: 380px;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    border-radius: 4px;
}

.galary_section_text {
    position: relative;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 10px;
}

.galary_section_text_2 {
    position: relative;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 20px;
}

.galary_section_title_divider {
    height: 1000px;
    position: relative;
    display: block;
    justify-content: start;
    text-align: start;
    align-items: start;
    margin: 0 auto;
    z-index: 3;
}

.galary_section_title {
    position: relative;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: -490px;
    top: 60px;

}


.circile_img {
    position: relative;
    display: block;
    width: 541px;
    height: 535px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    left: 680px;
    top: -1022px;
}



.questions_asked_text_title {
    position: relative;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    left: -150px;
    margin: 0 auto;
}




.question_1 {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 35px;
    margin: 0 auto;
}

.question_2 {
    width: 25px;
    height: 25px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 10px;
    left: 430px;
    margin: 0 auto;
}



.questions_asked_section {
    position: relative;
    width: 880px;
    height: 217px;
    margin: 0 auto;
    top: 350px;

}

.question_answer {
    position: relative;
    width: 800px;
    height: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #24242480;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 25px;
    left: -40px;
    margin: 0 auto;
}


.questions_asked_text_div_line {
    position: relative;
    width: 880px;
    height: 1px;
    background-color: #242424;
    margin: 0 auto;
    z-index: 3;
    top: 20px;
    left: -5px;

}

.quest_asked_center_line {
    position: relative;
    width: 880px;
    height: 1px;
    background-color: #242424;
    margin: 0 auto;
    z-index: 3;
    top: 35px;
    left: -5px;
}


.question_asked_bottom_line {
    position: relative;
    width: 880px;
    height: 1px;
    background-color: #242424;
    margin: 0 auto;
    z-index: 3;
    top: 40px;
    left: -5px;
}


.question_3 {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 50px;
    margin: 0 auto;
}

.question_4 {
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 35px;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: start;
    align-items: start;
    top: 20px;
    left: 435px;
    margin: 0 auto;
}

.contacts_section {
    position: relative;
    display: flex;
    height: 618px;
    background-color: #F3F6F6;
    top: 420px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.contact_divider {
    position: relative;
    display: block;
    top: 70px;
}

.contacts_section_text {
    position: relative;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -130px;
    left: 4px;
}

.offiece_text_1 {
    position: relative;
    width: 20px;
    height: 19.9px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #444B58;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -115px;
    left: -70px;
}

.offiece_text {
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -95px;
    left: 4px;
}

.contacts_section_img {
    position: relative;
    width: 426px;
    height: 88px;
    margin: 0 auto;
    top: -205px;
    left: 110px;
    z-index: 2;
}

.offiece_text_3 {
    position: relative;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -180px;
    left: 4px;
}

.offiece_text_4 {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -180px;
    left: 4px;
}

.offiece_text_5 {
    position: relative;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -150px;
    left: 4px;
}

.offiece_text_6 {
    position: relative;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -130px;
    left: 4px;
}

.offiece_text_2 {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #444B58;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -130px;
    left: 4px;
}

.contacts_section_img_2 {
    position: relative;
    width: 44px;
    height: 44px;
    justify-content: start;
    text-align: start;
    align-items: center;
    left: -165px;
    margin: 0 auto;
    top: -70px;
}

.contacts_section_img_3 {
    position: relative;
    width: 44px;
    height: 44px;
    justify-content: start;
    text-align: start;
    align-items: center;
    left: -150px;
    margin: 0 auto;
    top: -70px;
}

.contacts_section_img_4 {
    position: relative;
    width: 680px;
    height: 497.41px;
    left: 40px;
    top: 8px;
    border-radius: 4px;
}

.any_questions_section {
    position: relative;
    display: flex;
    width: 1120px;
    height: 413px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 480px;
    gap: 60px;
}


.any_questions_section_divider {
    display: block;
    position: relative;
    width: 380px;
    height: 402px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: #484283;
    border-radius: 4px;
    padding: 0 20px;
    top: 5px;
    left: 125px;
}

.any_questions_section_title_text {
    position: relative;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    vertical-align: middle;
    top: 40px;

}

.any_questions_section_text {
    position: relative;
    display: block;
    width: 260px;
    height: 32px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 60px;
}

.any_questions_section_input {
    position: relative;
    width: 340px;
    height: 59.62px;
    justify-content: center;
    text-align: start;
    align-items: center;
    margin: 0 auto;
    top: 180px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #444B58;
    border: none;
}

.any_questions_section_input_2 {
    position: relative;
    width: 340px;
    height: 59.62px;
    justify-content: center;
    text-align: start;
    align-items: center;
    margin: 0 auto;
    top: 50px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #444B58;
    border: none;
}

.any_questions_section_button {
    position: relative;
    width: 340px;
    height: 59.62px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 130px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #F14F4F;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.any_questions_section_button:hover {
    background-color: #fe0000;
    cursor: pointer;
}

.any_questions_section_divider_img {
    position: relative;
    justify-content: end;
    text-align: center;
    align-items: end;
    margin: 0 auto;
    left: 321px;
    top: -178px;
}

.any_questions_section_img {
    position: relative;
    width: 175px;
    height: 55.65px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;

}



.any_questions_section_div_grid {
    position: relative;
    width: 680px;
    height: 336.88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    top: 32px;
    left: -125px;


}

.any_questions_section_img_2 {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 157px;
    height: 160.99px;
}

.any_questions_section_img_3 {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 157px;
    height: 160.99px;
}

.any_questions_section_img_4 {
    position: relative;
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    width: 330px;
    height: 340px;
}

.any_questions_section_img_5 {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 157px;
    height: 160.99px;
}

.any_questions_section_img_6 {
    position: relative;
    grid-column: 3 / 3;
    grid-row: 2 / 3;
    width: 157px;
    height: 160.99px;
}


/* ------------------footer------------------ */


.footer_section {
    position: relative;
    height: 80px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 555px;

}

.footer_section_dvider {
    position: relative;
    display: flex;
    width: 700px;
    height: 14px;
    background-color: #444B58;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    gap: 40px;
    left: 230px;
}

.footer_section_text {
    position: relative;
    margin: 0 auto;
    width: 145px;
    height: 24px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 20px;
    left: -480px;
}